@font-face {
    font-family: festiva ;
    src: url("assets/font/HugeParty.ttf");
}

body{
    background-color: rgba(173, 172, 172, 0.726);
    font-family: Arial, Helvetica, sans-serif;
} 

header{
    background-color: #333138;
   
  
}
.cabeca{
    font-size: 40px;
    font-family: festiva;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 35px;
    font-size: 60px;
   
}
ul > li >  img{
    width: 200px;
    height: 200px;
    margin-top: 25vh;
    margin-left: 10px;
    border-radius: 50%;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.356);

    
   
}

img:hover{
    transform: scale(1.1);
    box-shadow: 2px 4px;
}
.opcao{
    display: flex;
    justify-content: center;
    
    
}