

html{
    overflow: auto ;
}
h1{
    background-color: black;
    height: 80px;
    color: white;
    text-align: center;
    font-size: 50px;
    padding: 25px;
    animation-name: mudar;

}
.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 70vh;
    margin: 80px;
    margin-top: 80px;
    border-radius: 25px;
    background-color: white;
    padding: 40px;
   background-color: black;
}
img{
    width: 300px;
    height: 300;
    margin: 0px;
    border-radius: 25px;
    border: 2px solid red;
    transition-duration: 1s;
    
}
img:hover{
    transform: scale(1.1);
}
